<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL History Table</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Short ID</th>
                <th>Redirect URL</th>
                <th>Visit History</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            <% urls.forEach(function(url) { %>
                <tr>
                    <td>
                        <%= url.shortId %>
                    </td>
                    <td>
                        <%= url.redirectURL %>
                    </td>
                    <td>
                        <% url.visitHistory.forEach(function(visit) { %>
                            <p>
                                <%= new Date(visit.timestamp).toLocaleString() %>
                            </p>
                            <% }); %>
                    </td>
                    <td>
                        <%= new Date(url.createdAt).toLocaleString() %>
                    </td>
                    <td>
                        <%= new Date(url.updatedAt).toLocaleString() %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    
</body>
</html>